<h1>Secrets</h1>

<% @secrets.each do |secret| %>
  <p>
  <%= secret.content %>
  </p>
  <% if !secret.users_liked.include? current_user %>
    <form action="/likes" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="secret_id" value="<%= secret.id %>">
      <input type="submit" value="Like">
    </form>
  <% end %>
  <p>
    <%= secret.likes.size %> likes
  </p>
  <% if secret.users_liked.include? current_user %>
    <form action="/likes/<%= (secret.like_by_user current_user).id %>" method="POST">
      <%= secret.like_by_user current_user %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Unlike">
    </form>
  <% end %>
  <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  <% end %>
<% end %>
